.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.card {
  width: 400px;
  padding: 20px;
  background: linear-gradient(#3498db, #767676);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
}

.buttonFormNew {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonFormNew:hover {
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #3498db;
}