.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.card {
  margin-bottom: 10vw;
  width: 500px;
  padding: 20px;
  background: linear-gradient(#3498db, #767676);
  border: 1px solid #dddfe2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
}

.buttonLogin {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonLogin:hover {
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #3498db;
}

.error {
  color: #d9534f;
  text-align: center;
  margin-top: 10px;
}