* {
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.card {
  display: flex;
  border-radius: 15rem;
  background-color: gradien;
  height: -2px;
  background: linear-gradient(#41aaf2, #5c5c83);
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #3498db;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin-left: 15px;
  margin-top: 25px;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.photo {
  margin-left: 0;
  display: flex;
  width: 45rem;

  border-radius: 30vh;
}

.img {
  width: 45rem;
  border: 2px solid black;
  border-radius: 30vh;
}

.cards {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 7rem;
  margin-bottom: 8ch;
}

.detail {
  margin-top: 0;
  margin-left: -3rem;
  line-height: 2em;
}